.main-top-section {
  width: 100%;
  height: 375px;
  background: #f7f1e7;
  position: relative;
  display: inline-block;
}
.top-header {
  width: 100%;
  height: 70px;
  text-align: center;
  background: #d8d8d8;
}
/*  Step-1 You need to get all of these elements to line up side by side. What display property would do this for you? */
.menu {
  width: 100px;
  height: 40px;
  background: #536a63;
  float: left; /*float this block left and give it a width*/
  position: relative; /*relative to other elements in the flow of the page*/
  /*on the contrary of absolute which takes the elements out of the normal flow and put it out anywhere on the screen */
}
.logo {
  width: 300px;
  height: 40px;
  margin-top: 10px;
  background: #536a63;
  display: inline-block;
  /*inline block respects margin,heigh,width properties , not like inline display*/
  /* inline-block does not add line after the elements , on the contrary of block property which adds line after elements*/
}
.sign-in {
  width: 100px;
  height: 40px;
  background: #536a63;
  float: right; /*float right , and give it a width*/
}
