/* Step-3 You can assign padding to all sides of a container by using the padding shorthand property. */

.content-mid {
  padding:80px;
 
}

.content-mid-header {
  background: #444;
  width:auto;
  height:10vh;
  margin-top: 0px;
  text-align: center;
  padding-top: 10px;
}

.content-container {
  width:auto;
  height:40vh;
  
}

.content {
  background: #D8D8D8;
  padding: 20px;
  text-align: center;
  height:30vh;
}
